<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="StudentManagementSystem.Properties.Settings.globalDBConnectionString"
			 connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\globalDB.accdb"
			 providerName="System.Data.OleDb|System.Data.OleDb.OleDbCommand|System.Data.OleDb.OleDbTransaction|System.Data.OleDb.OleDbConnection|System.Data.OleDb.OleDbDataAdapter"/>
	</connectionStrings>
	
</configuration>